<div class="app-users panel">
  <div class="friends" *ngIf="showFriends">
    <div class="header">
      <div class="title">
        <div class="back" (click)="exit()" *ngIf="showFriends">
          <svg
            _ngcontent-hqp-c11=""
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <path _ngcontent-hqp-c11="" d="M0 0h24v24H0V0z" fill="none"></path>
            <path
              _ngcontent-hqp-c11=""
              d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"
            ></path>
          </svg>
        </div>
        My Friends
      </div>
  
      <div class="line"></div>
    </div>
    <div class="friend-list scroll">
      <div
        *ngFor="let friend of friends | async"
        class="friend"
        (click)="remove(friend)"
      >
        <div class="image">
          {{ getImage(friend) }}
        </div>
        {{ friend.name }}

        <div class="nickname">
          {{getUsername(friend.username)}}
        </div>

        <div class="remove">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <line
              x1="19"
              y1="5"
              x2="5"
              y2="19"
              fill="#fff"
              stroke-miterlimit="10"
            />
            <line
              x1="5"
              y1="5"
              x2="19"
              y2="19"
              fill="#fff"
              stroke-miterlimit="10"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="users">
    <div class="header">
      <div class="title">
        <div class="back" (click)="exit()" *ngIf="!showFriends">
          <svg
            _ngcontent-hqp-c11=""
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <path _ngcontent-hqp-c11="" d="M0 0h24v24H0V0z" fill="none"></path>
            <path
              _ngcontent-hqp-c11=""
              d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"
            ></path>
          </svg>
        </div>
        Add Friends
      </div>
  
      <div class="line"></div>
    </div>


    <div class="user-list scroll">
      <div *ngFor="let user of users | async" class="user">
        <div class="image">
          {{ getImage(user) }}
        </div>
        {{ user.name }}
        <div class="nickname">
          {{getUsername(user.username)}}
        </div>

        <div class="button" (click)="addFriend(user)">Add Friend</div>
      </div>
    </div>
  </div>
</div>
