<div class="message-list">
  <div class="header">
    {{ title }}
    <div class="line"></div>
  </div>
  <div *ngIf="list && list.length > 0" class="chats scroll">
    <div *ngFor="let chat of list" class="chat" (click)="selectChat(chat)">
      <div class="image">{{getInitials(chat)}}</div>
      <div class="chat-info">
        <div class="info-header">
          {{ chat.name }}
        </div>
        <div class="info-last-message">
          {{ chat }}
        </div>
      </div>
    </div>

    <div *ngIf="!list || list.length === 0" class="null-state">
      Add friends to start chatting!
      <div class="button" (click)="goToAdd()">Add Friends</div>
    </div>
  </div>
</div>
