<div class="message-list">
  <div class="header">
    <div class="title">
      <div class="back" (click)="exit.emit()">
        <svg
          _ngcontent-hqp-c11=""
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#000000"
        >
          <path _ngcontent-hqp-c11="" d="M0 0h24v24H0V0z" fill="none"></path>
          <path
            _ngcontent-hqp-c11=""
            d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"
          ></path>
        </svg>
      </div>
      {{ title }}
    </div>

    <div class="line"></div>
  </div>

  <div *ngIf="friends && friends.length > 0" class="chats scroll">
    <div
      *ngFor="let chat of friends"
      class="chat"
      (click)="selectChat(chat.friend)"
      [ngClass]="{'notify': showNotification(chat), 'interactive': !showNotification(chat)}"
    >
      <div class="image">{{ getInitials(chat.friend) }}</div>
      <div class="chat-info">
        <div class="info-header">
          {{ chat.friend.name }}
        </div>
        <div class="info-last-message">
          {{ chat.lastMessage.message }}
        </div>
      </div>
    </div>

    <div *ngIf="!friends || friends.length === 0" class="null-state">
      Add friends to start chatting!
      <div class="button" (click)="goToAdd()">Add Friends</div>
    </div>
  </div>
</div>
