<div class="app-chat">
    <div class="messages" id="group-list">
        <app-open-chat *ngIf="selectedChatName && !showCreation()" [title]="selectedChatName" [messages]="messages | async" (sentMessage)="sendMessage($event)" [group]="true" [selectedRoom]="selectedGroup" [user]="user | async" (exit)="exit()"></app-open-chat>
        <app-group-list *ngIf="!selectedChatName && !showCreation()" [groups]="groups | async" title="Groups" (chatSelected)="chatSelected($event)" [showCreate]="true" (create)="openCreateModal()" (exit)="showMobileMenu()">
        </app-group-list>


        <div class="creat-group" *ngIf="showCreation()">
            <app-create-group [user]="user | async" (createGroup)="createGroup($event)"></app-create-group>
        </div>
    </div>

    <div class="messages-list">
        <app-group-list *ngIf="selectedChatName" [groups]="groups | async" title="Groups" [showCreate]="true" (create)="openCreateModal()" (chatSelected)="chatSelected($event)" (exit)="showMobileMenu()">
        </app-group-list>
        

        <div class="null-state" *ngIf="!selectedChatName">
            Select a group from the list to start chatting!
        </div>
    </div>
</div>

<div class="create-modal" id="create">
    <div class="modal">
        <div class="create-group">
            <app-create-group [user]="user | async" [showExit]="true" (exit)="closeCreateModal()" (createGroup)="createGroup($event)"></app-create-group>
        </div>
    </div>
</div>