// Sizing
$border-radius: 4px;

// Colors:
$background-color: #141518;
$foreground-color: #28282d;
$interactive-element-color:#383a43;
$interactive-element-color-highlight: #5f5f69;
$text-color: #faf9fa;
$text-color-light: #1e1e1e;
$accent-color: #286bf4;

$dark-shadow-heavy: 4px 4px 9px #0b0c0e;
$dark-shadow-light: 0px 0px 6px #141518;


$background-color-light: #f0f3f4;
$foreground-color-light: #f8f9fa;
$interactive-element-color-light: #fdfdfd;
$interactive-element-color-highlight-light: #ebebeb;
$light-shadow-heavy: 4px 4px 9px #dbdbdb;
$light-shadow-light: 0px 0px 6px #e2e2e2;
$text-color-light: #191919;
