// Sizing
$border-radius: 4px;

// Colors:
$background-color: #121212;
$foreground-color: #272727;
$interactive-element-color: #383838;
$text-color: #dedee9;
$text-color-light: #1e1e1e;
$accent-color: #3681fd;


// $background-color: #e1e6eb;
// $foreground-color: rgb(241, 241, 250);
// $interactive-element-color: #ffffff;
// $text-color: #3b3b3b;